:root {
    --color-primary: hsl(160deg, 100%, 30%);
    --color-secondary: hsl(45deg, 100%, 50%);
    --color-secondary-dark: hsl(45deg, 100%, 40%);
    --color-black: hsl(0deg, 0%, 0%);
    --color-grey-very-dark: hsl(0deg, 0%, 10%);
    --color-grey-dark: hsl(0deg, 0%, 30%);
    --color-grey-medium: hsl(0deg, 0%, 40%);
    --color-grey-light: hsl(0deg, 0%, 60%);
    --color-grey-white: hsl(0deg, 0%, 100%);
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.125rem;
    color: var(--color-grey-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-black);
    margin: 0;
}

.intro-chunk .title {
    font-size: 2rem;

    margin-bottom: 48px;
}

.intro-chunk strong {
    color: var(--color-primary);
}

p {
    /* Clamp line length to 75chars for readability */
    max-width: 75ch;

    line-height: 1.5;
}

p:last-child {
    margin-bottom: 0;
}

header,
main {
    padding: 64px 0;
}

header {
    border-bottom: 8px solid var(--color-grey-medium);
}

main {
    background: var(--color-grey-light);
}

.max-width-wrapper {
    max-width: 980px;

    margin: 0 auto;
    padding: 0 24px;
}

.card {
    background: var(--color-grey-white);
    border-bottom: 8px solid var(--color-grey-medium);
    margin-left: -24px;
    margin-right: -24px;
    padding: 24px;
}

.indented-heading {
    max-width: max-content;

    background: var(--color-secondary);
    border-bottom: 8px solid var(--color-secondary-dark);
    margin-top: -16px;
    margin-left: -32px;
    padding: 16px 32px;
}
